<!-- views/partials/head.ejs -->


<!-- web font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<!-- my css -->
<link rel="stylesheet" href="/css/master.css"> <!-- 1 -->

<!-- my js -->
<script src="/js/script.js"></script>

<title>My Website</title>